/* SERVICIOS main*/
.container_servicios{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
  gap: 20px;
  padding: 30px;
}
.servicios_cards{
  color: #25282A;
  text-decoration: none;
  list-style: none;
  transition: border 0,5s ease-in-out;
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 300px;
}
.servicios_cards:hover{
  border:1px solid #4169e1;
}
.cards_content{
  width: 50%;
  height: 100%;
  text-align: start;
  place-content: center;
  padding-right: 50px;
}
.cards_img{
  width: 100%;
  height: 100%;
}
.cards_title{
  color: #4169e1;
  margin-bottom: 10px;
}
/* .navlink{
  color: #25282A;
  text-decoration: none;
  list-style: none;
  transition: color 0.5s ease;
}

.navlink:hover{
  color: #2c57da;
} */

/* SERVICIOS CATEGORIA */
.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.banner_categoria{
  background-image: url("/banner-categoria.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title_categoria{
  font-size: 3.5rem;
  color:#25282A;
  font-weight: 900;
}

.container_reservas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  gap: 10px;
}

.card{
  max-width: 300px;
  border: 1px solid #4169e1;
  padding: 10px;
  border-radius: 3px;
}

.detalles{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0px;
}

.container_fecha{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn{
  background-color: #4169e1;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: color 0.5s ease;
}