/* SERVICIOS */
.container_servicios{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
}

.navlink{
  color: #25282A;
  text-decoration: none;
  list-style: none;
  transition: color 0.5s ease;
}

.navlink:hover{
  color: #2c57da;
}

/* SERVICIOS CATEGORIA */
.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.banner_categoria{
  background-image: url("/banner-categoria.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 20px 0px;
}

.title_categoria{
  font-size: 3.5rem;
  color:#25282A;
  font-weight: 900;
}

.container_reservas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 30px 20px 30px;
  gap: 10px;
}

/* SERVICIO CARD */

.navlink{
  list-style: none;
}

.card{
  max-width: 300px;
  padding: 10px;
  border-radius: 3px;
  text-align: start;
}

.img_serv{
  width: 100%;
  border-radius: 18px;
}

.titulo_card{
  font-weight: 500;
  font-size: 1.4rem;
  color: #25282A;
  font-family: "Raleway", sans-serif;
  margin: 10px 0px 5px 0px;
}

.detalles{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0px;
  color: #25282A;
}

.p_fecha{
  display: flex;
  align-items: center;
  text-indent: 5px;
}

.container_fecha{
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.btn{
  background-color: #4169e1;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: .7rem;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  transition: .5s;
}

.btn:hover {
  background-color: #1442ce;
}

/* SERVICIO DETAIL */

.container_detail{
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_detail{
  height: 300px;
}