/* SERVICIOS main*/
.container_servicios{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
  padding: 3rem 4rem;
  gap: 40px;
}

.servicios_cards{
  display: flex;
  justify-content: space-between;
  color: #25282A;
  text-decoration: none;
  list-style: none;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.servicios_cards:hover{
  background-color: rgba(230, 243, 255, 0.515);
}

.cards_content{
  width: 50%;
  height: 100%;
  text-align: start;
  place-content: center;
}

.cards_img{
  width: 100%;
  height: 100%;
}

.cards_title{
  color: #4169e1;
  margin-bottom: 15px;
  padding: 0px 4rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.cards_parrafo{
  padding: 0px 5rem .8rem 4rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #25282A;
  text-align: justify;
}

.container_ul {
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
}

.navlink_cat {
  color: #25282A;
  text-decoration: none;
  list-style: none;
  transition: color 0.5s ease;
  font-weight: 700;
  font-size: 1.3rem;
}

.navlink{
  list-style: none;
  text-decoration: none;
}

.navlink_cat:hover,
.navlink,
.navlink-active {
  color: #1e49cb;
}

/* SERVICIOS CATEGORIA */
.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.banner_categoria{
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 20px 0px;
}
.banner_oficinas{
  background-image: url("/banner-oficinas.png");
}
.banner_salas{
  background-image: url("/banner-salas.png");
}
.banner_eventos{
  background-image: url("/banner-eventos.png");
}

.title_categoria{
  font-size: 3.5rem;
  color:#25282A;
  font-weight: 900;
}

.container_reservas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0px 30px 60px 30px;
  gap: 10px;
}

/* SERVICIO CARD */

.card{
  max-width: 24rem;
  padding: 10px;
  border-radius: 3px;
  text-align: start;
}

.img_serv{
  width: 100%;
  border-radius: 18px;
}

.titulo_card{
  font-weight: 500;
  font-size: 1.4rem;
  color: #25282A;
  font-family: "Raleway", sans-serif;
  margin: 10px 0px 5px 0px;
}

.detalles{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0px;
  color: #25282A;
}

.p_fecha{
  display: flex;
  align-items: center;
  text-indent: 5px;
}

.container_fecha{
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.btn{
  background-color: #4169e1;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: .7rem;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  transition: .5s;
}

.btn:hover {
  background-color: #1442ce;
}

/* SERVICIO DETAIL */

.container_detail{
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_detail{
  height: 300px;
}