.center_row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.center_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    min-height: 100vh;
    margin-top: -5rem;
    position: relative;
}
.container_text {
    text-align: start;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    color:#25282A;
}
.titulo{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: .5rem;
}

.btn {
    background-color: #4169e1;
    color: white;
    padding: .8rem 2rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 1.1rem;
}

.btn:hover{
    background-color: #2c57da;
}

.img {
    width: 250px;
    height: 250px;
    border-radius: .5rem;
}

.img_abajo {
    width: 70px;
    height: 70px;
}

.fecha_hora {
    padding: .5rem;
    border: 1px solid black;
    background-color: rgba(0, 128, 0, 0.376);
    border-radius: .3rem;
}

.fecha_hora:hover{
    background-color: rgba(0, 128, 0, 0.618);
    cursor: default;
}
.volver{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4169e1;
    color: white;
    padding: .4rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    position: absolute;
    top: 15%;
    right: 10%;
    font-size: 1.1rem;
    text-decoration: none;
}