.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container_servicios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  padding: 20px 30px;
  gap: 10px;
}

.card{
  max-width: 300px;
  border: 1px solid #4169e1;
  padding: 10px;
  border-radius: 3px;
}

.detalles{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0px;
}

.btn{
  background-color: #4169e1;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: color 0.5s ease;
}