.container {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 margin-bottom: -5rem;
}

/* NAV LATERAL */

.container_nav{
  width: 30%;
  height: 100%;
  background-color: rgb(232, 232, 232);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
  border-right: 1px solid #25282a1d;
}

.container_portada_perfil{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container_img_perfil {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img_user {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_user_panel, .container_prop_panel{
  width: 70%;
  height: 100%;
  margin-top: 20px;
}

input[type="file"] {
  display: none;
}

.custom_file_upload {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
  color: #25282A;
  font-weight: 300;
  text-indent: 3px;
}

.text_name{
 font-family: "Raleway", sans-serif;
 font-size: 1.6rem;
}

.file_label {
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  font-size: .9rem;
  text-align: center;
  width: 100%;
}

.file_label:hover {
  background-color: #45a049;
}

.file_label:active {
  background-color: #3e8e41;
}

.container_more_info{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  margin-left: -50px;
  color: #25282A;
}

.more_info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

/* PANEL USUARIO */

input[type="file"] {
  display: none;
}

.custom_file_upload {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
  color: #25282A;
  font-weight: 300;
  text-indent: 3px;
}


.file_label {
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  font-size: .9rem;
  text-align: center;
  width: 100%;
}

.file_label:hover {
  background-color: #45a049;
}

.file_label:active {
  background-color: #3e8e41;
}

.container_more_info{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  margin-left: -50px;
  color: #25282A;
}

.more_info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

/* PANEL USUARIO */


.container_reservas {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.title {
  color: #4169E1;
  font-size: 2rem !important;
}

.select {
  background-color: #4169E1;
  color: white;
  border: none;
  padding: 3px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.container_cardReserva {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(232, 232, 232);
  padding: 15px;
  border-radius: .7rem;
  border: 1px solid rgba(0, 0, 0, 0.107);
}

.container_card{
  display: flex;
  width: 100%;
}

.container_card{
  display: flex;
  width: 100%;
}


.img_reserva {
  width: 120px;
  height: 100px;
  border-radius: .5rem;
}

.container_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: #25282A;
}

.title_card {
  font-family: "Raleway", sans-serif;
  color: #25282A;
  font-size: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.p_fecha {
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 5px;
}

.container_end{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn_calificar{
  background-color: #4169E1;
  color: white;
  border: none;
  padding: 3px 10px;
  border-radius: .3rem;
  cursor: pointer;
  transition: .5s;
  width: 85px;
  margin-left: 5px;
}

.btn_calificar:hover{
  background-color: #1848da;
}

/* FEEDBACK */

.container_feedback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  gap: 8px;
}

.star{
  color: #c4ab0b;
}

.textarea_feedback {
  outline: none;
  margin: 0;
  resize: none;
  background-color: white;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px; 
  font-family: "Raleway", sans-serif;
  font-size: 14px; 
  width: 100%; 
  height: 80px; 
  box-sizing: border-box;
  border-radius: .5rem;
}

.textarea_feedback:focus {
  border-color: #007BFF; 
  background-color: #f8f9fa;
}

.textarea_feedback::selection {
  background-color: #007BFF; 
  color: white; 
}

.container_form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.container_gralServicios{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container_servicios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.form {
  width: 100%;
  background-color: rgb(232, 232, 232);
  padding: 1rem;
  border-radius: .7rem;
  border: 1px solid rgba(0, 0, 0, 0.107);
}

.card_info {
  display: flex;
  gap: 2rem;
}

.img_servicio{
  border-radius: .5rem;
}

.inputs_textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.inputs_conjunto {
  display: flex;
  width: 100%;
  align-items: center;
  gap: .5rem;
}

.div_inputs {
  width: 100%;
}

.input_img{
  height: 100%;
  background-color: rgb(232, 232, 232);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.107);
  
}

.inputs {
  padding: .7rem 1.4rem;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #25282a3e;
  background-color: rgb(232, 232, 232);
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  background-color: #4169E1;
  color: #FFFF;
  padding: .1rem 1.2rem;
  border-radius: .2rem;
  border: none;
  margin-top: 1rem;
}