.container {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_nav {
  width: 25%;
  height: 100%;
  background-color: rgb(232, 232, 232);
  margin-top: 20px;
}

.img_user {
  width: 100px;
  height: 100px;
}

.container_user_panel,
.container_prop_panel {
  width: 75%;
  height: 100%;
  margin-top: 20px;
}

.container_reservas {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.title {
  color: #4169E1;
  font-size: 2rem;
}

.select {
  background-color: #4169E1;
  color: white;
  border: none;
  padding: 3px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.container_cardReserva {
  display: flex;
  width: 100%;
  background-color: rgb(232, 232, 232);
  padding: 15px;
  border-radius: .7rem;
  border: 1px solid rgba(0, 0, 0, 0.107);
}

.img_reserva {
  width: 120px;
  height: 100px;
  border-radius: .5rem;
}

.container_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: #25282A;
}

.title_card {
  font-family: "Raleway", sans-serif;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.p_fecha {
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 5px;
}

.container_gralServicios{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container_servicios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.form {
  width: 100%;
  background-color: rgb(232, 232, 232);
  padding: 1rem;
  border-radius: .7rem;
  border: 1px solid rgba(0, 0, 0, 0.107);
}

.card_info {
  display: flex;
  gap: 2rem;
}

.img_servicio{
  border-radius: .5rem;
}

.inputs_textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.inputs_conjunto {
  display: flex;
  width: 100%;
  align-items: center;
  gap: .5rem;
}

.div_inputs {
  width: 100%;
}

.input_img{
  height: 100%;
  background-color: rgb(232, 232, 232);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.107);
  
}

.inputs {
  padding: .7rem 1.4rem;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #25282a3e;
  background-color: rgb(232, 232, 232);
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  background-color: #4169E1;
  color: #FFFF;
  padding: .1rem 1.2rem;
  border-radius: .2rem;
  border: none;
  margin-top: 1rem;
}