.container{
  padding: 4rem;
}

.content_form{
    border: 2px solid #4169e11f;
    border-radius: 5px;
    padding: 30px 40px;
    text-align: start;
    width: 500px;
    box-shadow: -2px 2px 2px rgba(24,37,170,0.12);
}

.container_datos{
    display: flex;
    width: 100%;
    gap: 10px;
}  

.content{
    width: 100%;
    margin-bottom: 10px;
}

.label{
    display: inline-block;
    text-align: start;
    margin: 0px 0px 5px 5px;
    font-size: .8rem;
    color: #25282a9f;
}

.standar{
    padding: 10px 15px;
    border-radius: .5rem;
    font-size: .8rem;
    display: block;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d934;
    width: 100%;
    font-family: "Raleway", sans-serif;
}

.msgError{
    text-align: start;
    font-size: .7rem;
    margin-left: 10px;
    color: #d67179;
}

.btn{
    background-color: #4169e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
    transition: color 0.5s ease;
    margin-top: 15px;
    width: 100%;
    height: 35px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.btn:hover{
  background-color: #1f4fe0;
}

.area{
    padding: 10px 15px;
    border-radius: .7rem;
    font-size: .8rem;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d934;
    resize: none;
    width: 100%;
    height: 100px;
    font-family: "Raleway", sans-serif;
}
