.main_container {
    width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin: 30px 0px;
  }
  
  .carousel_title {
    font-size: 2.5em;
    font-weight: bold;
    color: #4169e1;
    margin-bottom: 20px; /* Reducimos el margen inferior */
    margin-top: 20px;
  }
  
  .slider_container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .container_images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .image_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  .image_border{
    box-shadow: -2px 2px 2px rgba(24,37,170,0.12);
    border: 2px solid #4169e11f;
    border-radius: 10px;
  }
  
  .carousel_item {
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .carousel_item img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    .image_list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 400px;
        overflow: hidden;
        position: relative;
      }
      
      .carousel_item {
        width: 100%;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      
      .carousel_item img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        display: block;
        object-fit: contain;
      }
  }
  
  .leftArrow, .rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-right: 12px;
  }
  
  .leftArrow {
    left: 10px;
  }
  
  .rightArrow {
    right: 10px;
  }
  
  /* Cambiar color de fondo y texto al azul */
  .leftArrow, .rightArrow {
    background-color: #4169e1;
  }
  
  /* Cambiar color de texto al blanco */
  .leftArrow, .rightArrow {
    color: white;
  }
  
  .dots_container {
    position: absolute;
    bottom: 10px; /* Posiciona los dots en la parte inferior */
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .dots_container_item {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ccc; /* Color de los dots inactivos */
  }
  
  .active {
    color: #4169e1; /* Color de los dots activos */
  }

  