.container{
  background-color: #25282A;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 4rem 1rem;
}

.div{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  max-width: 3rem;
  text-align: start;
}

.container_logo{
  display: flex;
  align-items: center;
  height: 100%;
}

.logo{
  width: 5.3rem;
}

.links{
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1.2rem;
}

.links:hover{
  text-decoration: underline;
}

.div_icons{
  display: flex;
  align-items: start;
  gap: 1rem;
  align-self: flex-start;
}

.icons{
  font-size: 41px;
  font-weight: 100;
}