@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

p{
  margin: 0px !important;
  padding: 0px;
}

button{
  font-size: .9rem !important;
}

#root, html {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5{
  font-family: "Playfair Display", serif;
  margin-bottom: 0px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color:#ffff;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.405);
  border-radius: 10px;
}

.navlink {
  color: #25282A;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  transition: color 0.5s ease;
  border-bottom: 3px solid #D9D9D9;
}
.navlink:hover,.active{
  color: #4169e1;
  border-bottom: 3px solid #4169e1;
}

.carouselExampleFade{
  width: 700px;
}

.carousel-control-next, .carousel-control-prev{
    background: rgba(0, 0, 0, 0.664) !important;

  }

.w-100 {
    width: 100% !important;
    position: absolute;
    top: -200px;
}

.carousel-item{
 height: 500px;
}
