.container{
  padding: 10px 20px;
  color: #4169e1;
  border-bottom: 1px solid #4169e1;
}

.container_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_ul{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  list-style: none;
}

.logo{
  width: 60px;
}

.btn{
  background-color: #4169e1;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.btn:hover{
  background-color: #2c57da;
  transition: color 0.5s ease;
}

.navlink {
  color: #c0c0c0;
  text-decoration: none;
  list-style: none;
  transition: color 0.5s ease;
}

.navlink:hover,
.navlink-active {
  color: #4169e1;
}

