.container {
  position: fixed;
  width: 100%;
  padding: 1.5rem 2rem;
  z-index: 1000;
  background: linear-gradient(360deg, #d9d9d915 0%, #FFFFFF);
  font-size: 1.2rem;
}

.container_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  text-decoration: none;
  list-style: none;
}

.logo {
  width: 8rem;
}

.btn {
  background-color: #4169e1;
  color: white;
  padding: 10px 32px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  box-shadow: -2px 2px 2px rgba(24, 37, 170, 0.12);
  font-size: 1rem;
}

.btn:hover {
  background-color: #2c57da;
}

.navlink {
  color: #25282A;
  text-decoration: none;
  list-style: none;
  transition: color 0.5s ease;
  font-weight: 600;
}

.navlink:hover,
.navlink-active {
  color: #1e49cb;
}

.dropdown {
  position: relative;
  margin-bottom: .2rem;
}

.dropdown_menu {
  list-style: none;
  position: absolute;
  right: 0;
  top: 110%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #25282A;
  padding: 2rem;
  border: 1px solid black;
  border-radius: .5rem;
  
}

.dropdown_toggle {
  align-items: center;
  display: block;
}

.dropdown_menu li {
  width: max-content;
}

.link{
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1.2rem;
}

.link:hover{
  text-decoration: underline;
}

.link:active{
  border-bottom: none;
}

.center{
  display: flex;
  justify-items: center;
  align-items: center;
}