.container{
  position: fixed;
  width: 100%;
  padding: 1.5rem 2rem;
  z-index: 1000;
  background: linear-gradient(360deg, #d9d9d915 0%, #FFFFFF);
  font-size: 22px;
}

.container_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_ul{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  list-style: none;
}

.logo{
  width: 158px;
}

.btn{
  background-color: #4169e1;
  color: white;
  padding: 10px 32px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  box-shadow: -2px 2px 2px rgba(24,37,170,0.12);
  font-size: 18.5px; 
}

.btn:hover{
  background-color: #2c57da;
}

.navlink {
  color: #25282A;
  text-decoration: none;
  list-style: none;
  transition: color 0.5s ease;
  font-weight: 600;
}

.navlink:hover,
.navlink-active {
  color: #1e49cb;
}